@import "_variables.scss";
@import "landing-page-styles.scss";

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    background-image: url("/3d-background.png");
    background-size: contain;
    background-repeat: no-repeat;
}
