@import "_variables.scss";

.landing-page {
    .landing-page-header {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 3vw;

        .logo {
            display: flex;
            p {
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
                margin: 0 5% 0 1%;
            }

            span {
                color: $tertiary-color;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        nav {
            display: flex;
            align-items: center;

            button {
                color: #fff;
                background-color: transparent;
                font-size: 1rem;
                cursor: pointer;
                padding: 1vh 1vw;
                transition: all 0.3s ease;
                white-space: nowrap;
            }

            .landing-page-signup {
                border: 1px solid #fff;
                border-radius: 8px;
            }

            .landing-page-signin {
                border: none;
                margin-right: 1vw;
            }

            button:hover {
                color: rgb(199, 199, 199);
                border-color: rgb(199, 199, 199);
            }
        }
    }

    @media screen and (max-width: 768px) {
        .landing-page-header {
            margin: 0 5vw;
            nav {
                .landing-page-signin {
                    margin-right: 5vw;
                }
            }
        }
    }
}
